$main-color: #fff4ea;
$border-gray: #b2b2b2;
$day-background: #a8d3ff;
$result-border: solid 1.5px #b2b2b2;
$date-border: solid 2px #8b8b8b;
$date-outside-border: solid 3px #00a0de;
$record_title-color: #00ac9b;
$error-color: red;