%header.header
  .header__box.d-flex.align-items-center
    .header__box--inside.row.my-2.mx-2
      .header__box--inside__textbox.col-12.d-flex.align-items-center
        .col-0.col-md-2
        .col-2.col-md-1
          = fa_icon "hand-holding-heart", class: 'icon fa-flip-horizontal hand_icon'
        %h1.header__box--inside__textbox__title.col-8.col-md-6.float-left{style: 'margin: 0'} Red Donation
        .col-2.col-md-1
          = fa_icon "hand-holding-heart", class: 'icon hand_icon'
