.index_box.row
  .index_box__title.col-12
    %h4.index_box__title__text.col-12.text-center 生化学検査
    %h5.col-12.text-center{style: "padding-bottom: 10px"}
      平均値を超えた数値は
      %span{style: "color: red"} 赤く
      なります

  // 日付の表記
  .col-12{style: "margin-bottom: 20px"}
    .index_box__field.col-12
      = render partial:"shared/donation_day", locals: { records: @records }

      = render partial:"shared/bio_category", locals: { records: @records }
