.header {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  height: 80px;
  margin-top: 10px;

  &__box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &--inside {
      border: dashed 2px white;
      height: 70px;
      width: 98%;
      margin: 0 auto;

      &__title {
        line-height: 66px; //&--insideのborder 2pxの分だけ引いている
        text-align: center;
        color: #e0e0e0;
        -webkit-text-stroke: 1.5px #ff3333;
      }
  
      &__title:after { // 左上角の剥がしを表現
        position: absolute;
        content: '';
        left: -1px;
        top: -1px;
        border-width: 0 0 40px 40px;
        border-style: solid;
        // border-color: #fff #fff #7a7aff;
        border-color: #fff #fff #ffbf7f;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.navbar {
  margin-top: 10px;

  .navbar-collapse {
    justify-content: flex-end;

    .nav-link {
      margin-right: 10px;
      -webkit-transition: all 0.4s ease; // 徐々に色が変化するように
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all  0.4s ease;
    }
    .nav-link:hover {
      background-color: #ffc9d7;
      border-radius: 10px;
    }

    .dropdown-item {
      -webkit-transition: all 0.4s ease; // 徐々に色が変化するように
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all  0.4s ease;
    }
    .dropdown-item:hover {
      background-color: #b2ffb2;
      border-radius: 10px;
    }

  }
}

.navbar-light .navbar-toggler {
  
  border: solid 1.5px #84ffff;
}

