.index_box {

  &__title {
    
    &__text {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: dashed 3px $border-gray;
      color: $record_title-color;
    }
  }

  &__field {

    #date {
      padding-right: 0;
      padding-left: 0;
    }

    &__date {

      &__title {
        background-color: $day-background;
        border: $date-outside-border;
        border-right: $date-border;

        &--upper {
          color: #ff007f;
        }
  
        &--lower {
          color: black;
        }
      }

      &__result {
        padding: 0;
        background-color: $day-background;

        .day_text {
          color: #ff007f;
        }

        .none_text {
          color: white;
        }
      }

      .date_result1 {
        border: $date-outside-border;
        border-right: none;
        border-left: none;
      }

      .date_result2 {
        border: $date-outside-border;
        border-right: $date-border;
        border-left: $date-border;
      }

      .date_result3 {
        border: $date-outside-border;
        border-left: none;
      }
    }


    &__category {
      background-color: #c1e4e9;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;


      &__result {
        height: 40px;
        background-color: white;
        padding: 5px 15px;

        .out-range {
          color: red;
        }
      }

      .result1, .result3 {
        border: $result-border;
      }

      .result2 {
        border-top: $result-border;
        border-bottom: $result-border;
      }

      .standard {
        color: #6d6d6d;

        #chart-1 {
          margin-top: 10px;
        }
      }

      .card {
        padding: 20px 0;
        margin-top: 10px;
      }

    }
  }
}
