.index_box {

  &__title {
    
    &__text {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: dashed 3px $border-gray;
    }
  }

  &__field {

    #date {
      padding-right: 0;
      padding-left: 0;
    }

    &__date {

      &__text {
        background-color: aqua;
      }

      &__result {
        padding: 0;
        background-color: #9caeb7;
        color: white;
      }

      .result2 {
        border-right: solid 1.5px white;
        border-left: solid 1.5px white;
      }
    }


    &__category {
      // border: solid 1.5px #b2b2b2;
      background-color: #c1e4e9;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;


      &__result {
        height: 40px;
        background-color: white;
        padding: 5px 15px;
        // margin-top: 5px;
        // margin-bottom: 5px;
        // border: solid 1.5px #b2b2b2;
      }

      .result1, .result3 {
        border: solid 1.5px #b2b2b2;
      }

      .result2 {
        border-top: solid 1.5px #b2b2b2;
        border-bottom: solid 1.5px #b2b2b2;
      }

      .standard {
        color: red;
      }

      .card {
        padding: 20px 0;
        margin-top: 10px;
      }

    }
  }
}