.date_text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.day_box {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;

  #schedule {
    border: solid 1px black;
    margin-bottom: 10px;
    height: 40px;
  }

  &--black {
    color: black;
  }

  &--blue {
    color: blue;
  }

  &--red {
    color: red;
  }
}